---
---

<div>
  <ul class="mt-5">
    <li>
      <a href="./rules/FakeOrder">虚假申报</a>
      不以成交为目的，通过大量申报并撤销等行为，引诱、误导或者影响其他投资者正常交易决策的异常交易行为
    </li>
    <li>
      <a href="./rules/ForgePrice">拉抬打压股价</a>
      大笔申报、连续申报、密集申报或者明显偏离股票最新成交价的价格申报成交，期间股票交易价格明显上涨（下跌）的异常交易行为
    </li>
    <li>
      <a href="./rules/PriceControl">维持涨跌幅价格限制</a> 
      通过大笔申报、连续申报、密集申报，维持股票交易价格处于涨跌幅限制状态的异常交易行为。
    </li>
    <li>
      <a href="./rules/ReverseTrading">反向交易</a> 
      在自己的实际控制的账户之间或者关联账户之间大量锦绣柠股票交易，影响股票交易价格或者交易量的异常交易行为。
    </li>
    <li>
      <a href="./rules/Others">其他</a> 大宗交易、特殊标的等异常交易行为。
    </li>
    <!-- <li>
      <strong>Perfect lighthouse score.</strong> 100 across the board.
    </li>
    <li>
      <strong>Content authoring for everyone.</strong> Author content using markdown
      (<code>.md</code>) from your code editor or directly in GitHub.
    </li>
    <li>
      <span>
        <strong>Extended markdown</strong> with 
        <a href="https://markdoc.dev">Markdoc</a>.
      </span>
      <span>
        Type-safe custom components like YouTube embed, Twitter embed (or
        anything you want really) in your markdown (<code>.md</code>) files.</span
      >
    </li>
    <li>
      Built-in <strong>RSS feed</strong> for your blog, excellent<strong>
        SEO</strong
      > and more.
    </li> -->
  </ul>
</div>
